{% load staticfiles %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%block title%}BASE{%endblock%}</title>
    <!--<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/png" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
{% include 'header.html' %}

{% block sidebar %}
<div class="container-fluid h-100">
    <div class="row d-flex flex-row">
        <aside class="col-1 col-md-2 col-lg-12 h-md-100 p-0 bg-dark top">
            <nav class="navbar navbar-expand navbar-dark bg-dark p-0 px-lg-2">
                <div class="collapse navbar-collapse">
                    <ul class="flex-column flex-lg-row navbar-nav w-100 justify-content-center align-items-center align-items-sm-start text-left text-lg-center">
                        {% for item in category %}
                        <li class="nav-item w-100">
                            <a class="nav-link text-truncate" href="{% url 'category' pid=item.id %}"><i class="fa fa-heart-o fa-fw"></i> <span class="d-none d-md-inline">{{ item.category_name }}</span></a>
                        </li>
                        {% endfor %}
                        <li class="nav-item w-100">
                            <a class="nav-link text-truncate" href="{% url 'all' %}"><i class="fa fa-heart-o fa-fw"></i> <span class="d-none d-md-inline">All</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col-11 col-md-10 col-lg-12 bg-faded py-2">
            {% endblock %}
            {% block content %}{% endblock %}

        </main>
    </div>
</div>


<div>
    {% include 'footer.html' %}
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>